# Flask
gunicorn
pandas
altair
Flask
requests
tika
nltk
PyAudio
librosa
tensorflow-cpu
scikit-learn
gensim
Werkzeug
scipy
imutils
seaborn
wordcloud
dill
argparse
python-Levenshtein
# Werkzeug
# pandas
# opencv-python
# cmake
# argparse
# scipy
# dlib
# tensorflow
# imutils
# tika
# wave
# nltk
# gensim
# seaborn
# scikit-learn
# dill
# keras
# wordcloud
# numpy==1.19.2
# pandas
# opencv-python
# argparse
# scipy
# tensorflow
# imutils
# gunicorn


