# Flask
gunicorn
# Werkzeug
# pandas
# opencv-python
# cmake
# argparse
# scipy
# dlib
# tensorflow
# imutils
# tika
# wave
# nltk
# gensim
# seaborn
# scikit-learn
# dill
# keras
# wordcloud
# numpy==1.19.2
# pandas
# opencv-python
# argparse
# scipy
# tensorflow
# imutils
# gunicorn


