<!DOCTYPE html>
<html lang="fr" style="height: 100%">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <title>Speech Emotion</title>
    <script type="text/javascript" src="/static/js/audio_wave.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
  </head>
  <body style="height: 100%">
    {% block body %}
    <div
      style="
        background-image: url('/static/CSS/images/bg.jpeg');

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <br />

      <p style="font-size: 60px; margin-top: 120px; margin-bottom: 20px">
        <a href="/" class="a" style="text-decoration: none !important; color: black;">
      Speech Emotion Detection
      </a>
      </p>
      <p style="margin-bottom: 100px; font-size: 20px; font-weight: 200">
        Analysis of your emotion using Speech. Understand yourself!
      </p>

      <br />
      <!-- <form action="/audio_recording" method="post">
        <input
          id="mainbtn"
          type="submit"
          name="audio_recording"
          value="Start Recording"
          style="border-radius: 10px; color: white; background: #343b3f"
        />
      </form> -->

      <form action="/audio_dash" method="POST" enctype="multipart/form-data">
        <!-- <input type="submit" name="audio_recorded" id="audio_recorded"/> -->
        <input

          type="button"
          id="record"
          name="record"
          value="Start Recording"
          style="border-radius: 10px; color: white; background: #343b3f"
        />
      </form>

      <div style="margin: 10px"></div>
      <div style="margin: 0 auto;">

        <div id="waveform" sty]e="margin-left:20;margin-right:20" ></div>
        <button
        class="hide"
        id="buttonPlay"
        data-action="play"
        disabled="disabled"
        style="
          text-decoration: none;
          padding: 10px;

          background: #343b3f;
          color: #fff;
          border: none;
          border-radius: 8px;
        "
      >
        Play / Pause
      </button>
        <button
                class="hide"
                 disabled="disabled"
                data-action="reset"
                style="
          text-decoration: none;
          padding: 10px;

          background: #343b3f;
          color: #fff;
          border: none;
          border-radius: 8px;
        ">
          Reset
        </button>

      </div>
      

      <!-- <audio controls autoplay>
        <source src="{{audio}}" type="audio/wav" />

        Your browser does not support the audio element.
      </audio> -->

      <p id="recording" style="color: red;margin-top: 10px;"></p>
      <br />
      <br />
      <br />
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="Won">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <br />
      <br />

      <form action="/audio_dash" method="GET">
        <!-- <input type="submit" name="audio_recorded" id="audio_recorded"/> -->
        <input
          style="background: rgba(184, 222, 255, 1); color: black"
          type="submit"
          class="hide"
          disabled="disabled"
          id="analysis_button"
          name="analysis_button"
          value="Get Emotion Analysis"
        />
      </form>

      <!-- <form action="/audio_dash" method="get">
        <input
          style="background: rgba(184, 222, 255, 1); color: black"
          type="submit"
          name="audio_analysis"
          value="Get Emotion Analysis"
        />
      </form> -->

      {% endblock %}

      <br />
    </div>
  </body>
</html>
